<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน package จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆ มากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [6]:
import pandas  # เป็นวิธีเรียกใช้ package คือ import ตามด้วยชื่อ package โดย pandas เกี่ยวกับการเรียกใช้ข้อมูล

In [7]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd เพื่อการเรียกใช้ที่สั้นลง

ไลฟ์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

.csv เป็นไฟล์ที่จัดเก็บข้อมูลได้อ่านง่าย ทั้งคนและคอมพิวเตอร์

In [8]:
data_df = pd.read_csv('data.csv')

In [9]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Pual   15     Bankok
2  Sarah   49     London

In [10]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Pual   15     Bankok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการกำหนดตัวแปร

  1. ชื่อห้ามมีเว้นวรรค
  2. (พยายาม)ใช้ภาษาอังกฤษ
  3. ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
  4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [11]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote แสดงเป็นข้อมูลตัวอักษร หรือ string
variable_c = variable_a

In [12]:
variable_a

12

In [13]:
variable_b

'abcde'

In [14]:
variable_c

12

In [15]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [17]:
#(พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทย เป็นชื่อตัวแปรได้ แต่ไม่ควรทำ
ตัวแปร = 3 
ตัวแปร

3

In [18]:
#ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [19]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [20]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [21]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [23]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [24]:
print(variable1)

1

In [25]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote แสดงข้อมูลที่เป็นตัวอักษร หรือ string
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote ใช้แสดงข้อมูลเหมือนกับ ' เลือกใช้แทนกันได้

In [26]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [27]:
variable_a + variable_b # ตัวเลขกับตัวอักษรไม่สามารถนำมาบวกกันได้

TypeError: ignored

In [28]:
print(variable_b + variable_4) # ตัวอักษรกับตัวอักษรสามารถนำมาบวกกันได้

abcdeKKU

**Casting int() float() str()**

In [29]:
print(variable_x)
print(int(variable_x)) # เป็นการเปลี่ยนจาก float เป็น int

-29.200000000000003
-29

In [30]:
V_X = str(variable_x) เป็นการเปลี่ยนจากตัวเลขเป็นทศนิยม
print(V_X)

-29.200000000000003

In [31]:
V_X + variable_a

TypeError: ignored

In [32]:
variable_a + V_X

TypeError: ignored

In [33]:
V_X # จากผลลัพธ์มี qoute อยู่แสดงว่าเป็น str

'-29.200000000000003'

In [34]:
float(V_X) # เปลี่ยน str เป็น float

-29.200000000000003

 **Data Srtucture**

 **list()**

In [35]:
list_a = [1,2,0.2,'abs'] # [] square brackets ใช้เก็บข้อมูล เก็บได้ทั้ง int,str,float,list ด้วยกันเอง
list_b= [2,'xyz',list_a,[1,2,0.0]]

In [36]:
list_a

[1, 2, 0.2, 'abs']

In [37]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [38]:
len(list_b) # len ย่อมาจาก leng ใช้ดูความยาว ซึ่งสามารถบอกได้ว่ามีความยาวเท่าไร

4

In [39]:
list_b[3] # เป็นการชี้ตำแหน่งของ list โดยเริ่มที่ตำแหน่งที่ 0

[1, 2, 0.0]

In [40]:
list_b[3][1] # เป็นการชี้ที่ตำแหน่งที่ 3 ก่อน (ในวงเล็บใหญ่) แล้วจึงชี้ในตำแหน่งที่ 1 (ในวงเล็บเล็ก)

2

string คือ list ของ ตัวหนังสือ

In [41]:
a = 'Stat KKU'

In [42]:
a[4]

' '

วิธีสร้าง list ว่าง

In [43]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [44]:
list_c

[]

In [45]:
list_d

[]

เติมค่าลงใน list ใช้คำสั่ง (.append())

In [46]:
list_d.append('a')

In [50]:
list_d

['a', '56']

In [48]:
list_d.append('56')

In [51]:
list_d

['a', '56']

การชี้ค่าใน list (idexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [52]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [53]:
list_b[-1] # เป็นการนับมาจากข้างหลัง

[1, 2, 0.0]

**list slicing**

In [54]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

ถ้าเป็นสัณลักษณ์คณิตศาสตร์ [ตัวหน้า : ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [55]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [56]:
list_ex[4:] # ไม่ใส่ขอบเขตข้างหลัง

[6, 8, -1, 20, 50, 0]

In [57]:
list_ex[:6] # ไม่ใส่ขอบเขตข้างหน้า

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step]

In [58]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [60]:
list_ex[::2] #เป็นบอกว่าเอาตั้งแต่ตัวแรกถึงตัวสุดท้าย โดยกำหนดให้กระโดดทีละ 2

[1, 3, 6, -1, 50]

In [61]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [62]:
a

'Stat KKU'

In [63]:
a[5:]

'KKU'

In [64]:
a[-3:]

'KKU'

In [65]:
a[5:8]

'KKU'

In [66]:
a[5::]

'KKU'

In [67]:
a[-3::]

'KKU'

In [68]:
a[-3::1]

'KKU'

**list + list**

In [69]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [70]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string


```python
f'string{ตัวแปร}'

{} เรียกว่า curly brackets
```

In [71]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

**Loop**



``` python
for ตัวแปรที่จะรับค่าจาก list in list : do something
```

In [72]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [73]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [74]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [75]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
for i in range (2,7):
 print(i)

2
3
4
5
6

In [77]:
for i in range (2,7,2):
 print(i)

2
4
6

In [81]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [78]:
for i in range (5):
 print('hahaha')
 x = i+3
 print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

**Nested Loop**

In [80]:
for i in range(3):
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')

 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5

In [79]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j={j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j=0 i+j = 0
i = 0 j=1 i+j = 1
i = 0 j=2 i+j = 2
i = 0 j=3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j=0 i+j = 1
i = 1 j=1 i+j = 2
i = 1 j=2 i+j = 3
i = 1 j=3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j=0 i+j = 2
i = 2 j=1 i+j = 3
i = 2 j=2 i+j = 4
i = 2 j=3 i+j = 5
end j loop

**Condition**

**Function**