<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน package จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆ มากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas  # เป็นวิธีเรียกใช้ package คือ import ตามด้วยชื่อ package โดย pandas เกี่ยวกับการเรียกใช้ข้อมูล

In [2]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd เพื่อการเรียกใช้ที่สั้นลง

ไลฟ์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

.csv เป็นไฟล์ที่จัดเก็บข้อมูลได้อ่านง่าย ทั้งคนและคอมพิวเตอร์

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Pual   15     Bankok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Pual   15     Bankok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการกำหนดตัวแปร

  1. ชื่อห้ามมีเว้นวรรค
  2. (พยายาม)ใช้ภาษาอังกฤษ
  3. ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
  4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [7]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote แสดงเป็นข้อมูลตัวอักษร หรือ string
variable_c = variable_a

In [8]:
variable_a

12

In [9]:
variable_b

'abcde'

In [10]:
variable_c

12

In [11]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [12]:
#(พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทย เป็นชื่อตัวแปรได้ แต่ไม่ควรทำ
ตัวแปร = 3 
ตัวแปร

3

In [13]:
#ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [14]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [15]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [16]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [17]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [18]:
print(variable1)

1

In [19]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote แสดงข้อมูลที่เป็นตัวอักษร หรือ string
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote ใช้แสดงข้อมูลเหมือนกับ ' เลือกใช้แทนกันได้

In [20]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [21]:
variable_a + variable_b # ตัวเลขกับตัวอักษรไม่สามารถนำมาบวกกันได้

TypeError: ignored

In [22]:
print(variable_b + variable_4) # ตัวอักษรกับตัวอักษรสามารถนำมาบวกกันได้

abcdeKKU

**Casting int() float() str()**

In [23]:
print(variable_x)
print(int(variable_x)) # เป็นการเปลี่ยนจาก float เป็น int

-29.200000000000003
-29

In [24]:
V_X = str(variable_x) เป็นการเปลี่ยนจากตัวเลขเป็นทศนิยม
print(V_X)

SyntaxError: ignored

In [25]:
V_X + variable_a

NameError: ignored

In [26]:
variable_a + V_X

NameError: ignored

In [27]:
V_X # จากผลลัพธ์มี qoute อยู่แสดงว่าเป็น str

NameError: ignored

In [73]:
float(V_X) # เปลี่ยน str เป็น float

NameError: ignored

 **Data Srtucture**

 **list()**

In [29]:
list_a = [1,2,0.2,'abs'] # [] square brackets ใช้เก็บข้อมูล เก็บได้ทั้ง int,str,float,list ด้วยกันเอง
list_b= [2,'xyz',list_a,[1,2,0.0]]

In [30]:
list_a

[1, 2, 0.2, 'abs']

In [31]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [32]:
len(list_b) # len ย่อมาจาก leng ใช้ดูความยาว ซึ่งสามารถบอกได้ว่ามีความยาวเท่าไร

4

In [33]:
list_b[3] # เป็นการชี้ตำแหน่งของ list โดยเริ่มที่ตำแหน่งที่ 0

[1, 2, 0.0]

In [34]:
list_b[3][1] # เป็นการชี้ที่ตำแหน่งที่ 3 ก่อน (ในวงเล็บใหญ่) แล้วจึงชี้ในตำแหน่งที่ 1 (ในวงเล็บเล็ก)

2

string คือ list ของ ตัวหนังสือ

In [35]:
a = 'Stat KKU'

In [36]:
a[4]

' '

วิธีสร้าง list ว่าง

In [37]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [38]:
list_c

[]

In [39]:
list_d

[]

เติมค่าลงใน list ใช้คำสั่ง (.append())

In [40]:
list_d.append('a')

In [41]:
list_d

['a']

In [42]:
list_d.append('56')

In [43]:
list_d

['a', '56']

การชี้ค่าใน list (idexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [44]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [45]:
list_b[-1] # เป็นการนับมาจากข้างหลัง

[1, 2, 0.0]

**list slicing**

In [46]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

ถ้าเป็นสัณลักษณ์คณิตศาสตร์ [ตัวหน้า : ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [47]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [48]:
list_ex[4:] # ไม่ใส่ขอบเขตข้างหลัง

[6, 8, -1, 20, 50, 0]

In [49]:
list_ex[:6] # ไม่ใส่ขอบเขตข้างหน้า

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step]

In [50]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [51]:
list_ex[::2] #เป็นบอกว่าเอาตั้งแต่ตัวแรกถึงตัวสุดท้าย โดยกำหนดให้กระโดดทีละ 2

[1, 3, 6, -1, 50]

In [52]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [53]:
a

'Stat KKU'

In [54]:
a[5:]

'KKU'

In [55]:
a[-3:]

'KKU'

In [56]:
a[5:8]

'KKU'

In [57]:
a[5::]

'KKU'

In [58]:
a[-3::]

'KKU'

In [59]:
a[-3::1]

'KKU'

**list + list**

In [60]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [61]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string


```python
f'string{ตัวแปร}'

{} เรียกว่า curly brackets
```

In [62]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

**Loop**

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆ กัน

``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป :
  do something # in loop
  do another thing # in loop

do other thing # out side loop
```

In [63]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [64]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [65]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [66]:
list(range(10)) # rang คือ list ที่ยังไม่ได้ถูกเก็บไว้

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
for i in range (2,7):
 print(i)

2
3
4
5
6

In [68]:
for i in range (2,7,2):
 print(i)

2
4
6

In [69]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [70]:
for i in range (5):
 print('hahaha')
 x = i+3
 print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

**Nested Loop**

In [71]:
for i in range(3):
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')

 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5

In [72]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j={j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j=0 i+j = 0
i = 0 j=1 i+j = 1
i = 0 j=2 i+j = 2
i = 0 j=3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j=0 i+j = 1
i = 1 j=1 i+j = 2
i = 1 j=2 i+j = 3
i = 1 j=3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j=0 i+j = 2
i = 2 j=1 i+j = 3
i = 2 j=2 i+j = 4
i = 2 j=3 i+j = 5
end j loop

**Condition**
**if statement (เงื่อนไข)**

```python
if เงื่อนไขที่จะตรวจสอบ :
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else : # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [79]:
stringx = 'sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp' # ถ้าถูกจะแสดงผลออกมา

if len(stringx) > 30:
  print(f'{stringx} is longer than 30 characters')

sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp is longer than 30 characters

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=) :
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else : # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [80]:
stringx = 'sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long') # เป็นการบอกว่าถ้ามันไม่ตรงกับเงื่อนไข แล้วให้แสดงความยาวขของมัน

sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp in 38 characters long

In [83]:
password = '12345'

input_pass = '123'
if input_pass == password :
  print('Welcome!')
elif len(input_pass) > len(password) :
  print('Too Long,try agian!')
elif len(input_pass) < len(password) :
  print('Too short,try agian!')
else :
  print('Wrong password,try again!')

Too short,try agian!

**Quiz1 หา Min**

In [92]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [96]:
if list_ex == min:
  print(f'{list_ex} is min')
else:
  print(f'{list_ex} in max')

[1, 5, 9, -19, -2, 0] in max

**เฉลย**

In [95]:
min = 1000000
for i in list_ex :
  if i < min :
    min = i
print(min)

-19

In [104]:
min = 1000000
print(list_ex)
for i in list_ex:
  print (f'now i = {i},min = {min}')
  print('start condition')
  if i < min :
    print(f'i < min,update i to -> {i}')
    min = i
  else:
      print('i >= min,not update')
  print('end condition,go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1,min = 1000000
start condition
i < min,update i to -> 1
end condition,go to next i
now i = 5,min = 1
start condition
i >= min,not update
end condition,go to next i
now i = 9,min = 1
start condition
i >= min,not update
end condition,go to next i
now i = -19,min = 1
start condition
i < min,update i to -> -19
end condition,go to next i
now i = -2,min = -19
start condition
i >= min,not update
end condition,go to next i
now i = 0,min = -19
start condition
i >= min,not update
end condition,go to next i
-19

**HW3 ตัดเกรด**

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list (ใช้ if กับ for)

**Function**