<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน package จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆ มากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตาราง โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas  # เป็นวิธีเรียกใช้ package คือ import ตามด้วยชื่อ package โดย pandas เกี่ยวกับการเรียกใช้ข้อมูล

In [3]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไลฟ์ .csv (CSV = comma separated values) เป้นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15     Bankok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15     Bankok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการกำหนดตัวแปร

  1. ชื่อห้ามมีเว้นวรรค
  2. (พยายาม)ใช้ภาษาอังกฤษ
  3. ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
  4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [7]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a

In [8]:
variable_a

12

In [9]:
variable_b

'abcde'

In [10]:
variable_c

12

In [11]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [12]:
#(พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทย เป็นชื่อตัวแปรได้ แต่ไม่ควรทำ
ตัวแปร = 3 
ตัวแปร

3

In [ ]:
#ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
V_

In [13]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [14]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [15]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [16]:
variable_a + variable_b

TypeError: ignored

In [17]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [18]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [19]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [20]:
V_X + variable_a

TypeError: ignored

In [21]:
variable_a + V_X

TypeError: ignored

In [22]:
V_X

'-29.200000000000003'

In [23]:
float(V_X)

-29.200000000000003

## Data Srtucture
### list()

In [24]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b= [2,'xyz',list_a,[1,2,0.0]]

In [25]:
list_a

[1, 2, 0.2, 'abs']

In [26]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [27]:
len(list_b)

4

In [28]:
list_b[3]

[1, 2, 0.0]

In [29]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [30]:
a = 'Stat KKU'

In [31]:
a[4]

' '

วิธีสร้าง list ว่าง

In [32]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [33]:
list_c

[]

In [34]:
list_d

[]

เติมค่าลงใน list ใช้คำสั่ง (.append())

In [35]:
list_d.append('a')

In [36]:
list_d

['a']

In [37]:
list_d.append('56')

In [38]:
list_d

['a', '56']

การชี้ค่าใน list (idexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [39]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [40]:
list_b[-1]

[1, 2, 0.0]


 ### list slicing

In [41]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]
ถ้าเป็นสัณลักษณ์คณิตศาสตร์ [ตัวหน้า : ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [42]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [43]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [44]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step]

In [48]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [47]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [49]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [50]:
a

'Stat KKU'

In [54]:
a[5:]

'KKU'

## list + list

In [56]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [57]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string


```python
f'string{ตัวแปร}'
```

In [62]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

##Loop



``` python
for ตัวแปรที่จะรับค่าจาก list in list : do something
```

In [64]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [66]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [67]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
for i in range (2,7):
 print(i)

2
3
4
5
6

In [76]:
for i in range (2,7,2):
 print(i)

2
4
6

In [78]:
for i in range (5):
 print('hahaha')
 x = i+3
 print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested Loop

In [84]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j={j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j=0 i+j = 0
i = 0 j=1 i+j = 1
i = 0 j=2 i+j = 2
i = 0 j=3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j=0 i+j = 1
i = 1 j=1 i+j = 2
i = 1 j=2 i+j = 3
i = 1 j=3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j=0 i+j = 2
i = 2 j=1 i+j = 3
i = 2 j=2 i+j = 4
i = 2 j=3 i+j = 5
end j loop

##Condition
###Function