<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน package จะเป็นภาษา Markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆ มากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas  # เป็นวิธีเรียกใช้ package คือ import ตามด้วยชื่อ package โดย pandas เกี่ยวกับการเรียกใช้ข้อมูล

In [ ]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd เพื่อการเรียกใช้ที่สั้นลง

ไลฟ์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

.csv เป็นไฟล์ที่จัดเก็บข้อมูลได้อ่านง่าย ทั้งคนและคอมพิวเตอร์

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Pual   15     Bankok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Pual   15     Bankok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการกำหนดตัวแปร

  1. ชื่อห้ามมีเว้นวรรค
  2. (พยายาม)ใช้ภาษาอังกฤษ
  3. ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
  4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote แสดงเป็นข้อมูลตัวอักษร หรือ string
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
#(พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทย เป็นชื่อตัวแปรได้ แต่ไม่ควรทำ
ตัวแปร = 3 
ตัวแปร

3

In [ ]:
#ตัวเล็กตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote แสดงข้อมูลที่เป็นตัวอักษร หรือ string
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote ใช้แสดงข้อมูลเหมือนกับ ' เลือกใช้แทนกันได้

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b # ตัวเลขกับตัวอักษรไม่สามารถนำมาบวกกันได้

TypeError: ignored

In [ ]:
print(variable_b + variable_4) # ตัวอักษรกับตัวอักษรสามารถนำมาบวกกันได้

abcdeKKU

**Casting int() float() str()**

In [ ]:
print(variable_x)
print(int(variable_x)) # เป็นการเปลี่ยนจาก float เป็น int

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x) เป็นการเปลี่ยนจากตัวเลขเป็นทศนิยม
print(V_X)

SyntaxError: ignored

In [ ]:
V_X + variable_a

NameError: ignored

In [ ]:
variable_a + V_X

NameError: ignored

In [ ]:
V_X # จากผลลัพธ์มี qoute อยู่แสดงว่าเป็น str

NameError: ignored

In [ ]:
float(V_X) # เปลี่ยน str เป็น float

NameError: ignored

 **Data Srtucture**

 **list()**

In [ ]:
list_a = [1,2,0.2,'abs'] # [] square brackets ใช้เก็บข้อมูล เก็บได้ทั้ง int,str,float,list ด้วยกันเอง
list_b= [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b) # len ย่อมาจาก leng ใช้ดูความยาว ซึ่งสามารถบอกได้ว่ามีความยาวเท่าไร

4

In [ ]:
list_b[3] # เป็นการชี้ตำแหน่งของ list โดยเริ่มที่ตำแหน่งที่ 0

[1, 2, 0.0]

In [ ]:
list_b[3][1] # เป็นการชี้ที่ตำแหน่งที่ 3 ก่อน (ในวงเล็บใหญ่) แล้วจึงชี้ในตำแหน่งที่ 1 (ในวงเล็บเล็ก)

2

string คือ list ของ ตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

วิธีสร้าง list ว่าง

In [ ]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงใน list ใช้คำสั่ง (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append('56')

In [ ]:
list_d

['a', '56']

การชี้ค่าใน list (idexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1] # เป็นการนับมาจากข้างหลัง

[1, 2, 0.0]

**list slicing**

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

ถ้าเป็นสัณลักษณ์คณิตศาสตร์ [ตัวหน้า : ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:] # ไม่ใส่ขอบเขตข้างหลัง

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6] # ไม่ใส่ขอบเขตข้างหน้า

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2] #เป็นบอกว่าเอาตั้งแต่ตัวแรกถึงตัวสุดท้าย โดยกำหนดให้กระโดดทีละ 2

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

In [ ]:
a[-3::1]

'KKU'

**list + list**

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string


```python
f'string{ตัวแปร}'

{} เรียกว่า curly brackets
```

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

**Loop**

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆ กัน

``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป :
  do something # in loop
  do another thing # in loop

do other thing # out side loop
```

In [1]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [2]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [3]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [4]:
list(range(10)) # rang คือ list ที่ยังไม่ได้ถูกเก็บไว้

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in range (2,7):
 print(i)

2
3
4
5
6

In [6]:
for i in range (2,7,2):
 print(i)

2
4
6

In [7]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [8]:
for i in range (5):
 print('hahaha')
 x = i+3
 print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

**Nested Loop**

In [9]:
for i in range(3):
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')

 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5

In [10]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j={j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j=0 i+j = 0
i = 0 j=1 i+j = 1
i = 0 j=2 i+j = 2
i = 0 j=3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j=0 i+j = 1
i = 1 j=1 i+j = 2
i = 1 j=2 i+j = 3
i = 1 j=3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j=0 i+j = 2
i = 2 j=1 i+j = 3
i = 2 j=2 i+j = 4
i = 2 j=3 i+j = 5
end j loop

**Condition**

**if statement (เงื่อนไข)**



```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=) :
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [11]:
stringx = 'sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp' # ถ้าถูกจะแสดงผลออกมา

if len(stringx) > 30:
  print(f'{stringx} is longer than 30 characters')

sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp is longer than 30 characters

In [12]:
stringx = 'sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')



```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=) :
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ทำงานที่ x
```

In [13]:
stringx = 'sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long') # เป็นการบอกว่าถ้ามันไม่ตรงกับเงื่อนไข แล้วให้แสดงความยาวขของมัน

sadfdcsfgadfsdfadsdfasdgsafsghkjnimokp in 38 characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=) :
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else : # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [14]:
password = '12345'

input_pass = '123'
if input_pass == password :
  print('Welcome!')
elif len(input_pass) > len(password) :
  print('Too Long,try agian!')
elif len(input_pass) < len(password) :
  print('Too short,try agian!')
else :
  print('Wrong password,try again!')

Too short,try agian!

**Quiz1 หา Min**

In [15]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [16]:
if list_ex == min:
  print(f'{list_ex} is min')
else:
  print(f'{list_ex} in max')

[1, 5, 9, -19, -2, 0] in max

**เฉลย**

In [17]:
min = 1000000
for i in list_ex :
  if i < min :
    min = i
print(min)

-19

In [18]:
# เฉลยแบบละเอียด
min = 1000000 # กำหนดค่าเองเป็นเท่าไรก็ได้ ที่มีค่ามาก
print(list_ex) 
for i in list_ex: # วนค่าใน list ออกมาทีละตัว
  print (f'now i = {i},min = {min}') # ทำการเทียบค่าใน list กับค่า min ที่กำหนด
  print('start condition')
  if i < min :
    print(f'i < min,update i to -> {i}')
    min = i
  else:
      print('i >= min,not update')
  print('end condition,go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1,min = 1000000
start condition
i < min,update i to -> 1
end condition,go to next i
now i = 5,min = 1
start condition
i >= min,not update
end condition,go to next i
now i = 9,min = 1
start condition
i >= min,not update
end condition,go to next i
now i = -19,min = 1
start condition
i < min,update i to -> -19
end condition,go to next i
now i = -2,min = -19
start condition
i >= min,not update
end condition,go to next i
now i = 0,min = -19
start condition
i >= min,not update
end condition,go to next i
-19

**HW3 ตัดเกรด**

In [19]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list (ใช้ if กับ for)

In [20]:
for i in score :
    if i >= 80 :
      print(f'คะแนนที่ได้คือ {i} = A')
    elif i >= 75 :
      print(f'คะแนนที่ได้คือ {i} = B+')
    elif i >= 70 :
      print(f'คะแนนที่ได้คือ {i} = B')
    elif i >= 65 :
      print(f'คะแนนที่ได้คือ {i} = C+')
    elif i >= 60 :
      print(f'คะแนนที่ได้คือ {i} = C')
    elif i >= 55 :
      print(f'คะแนนที่ได้คือ {i} = D+')
    elif i >= 50 :
      print(f'คะแนนที่ได้คือ {i} = D')
    else :
      print(f'คะแนนที่ได้คือ {i} = F')

คะแนนที่ได้คือ 49 = F
คะแนนที่ได้คือ 65 = C+
คะแนนที่ได้คือ 70 = B
คะแนนที่ได้คือ 95 = A
คะแนนที่ได้คือ 82 = A
คะแนนที่ได้คือ 55 = D+
คะแนนที่ได้คือ 89 = A
คะแนนที่ได้คือ 20 = F
คะแนนที่ได้คือ 77 = B+
คะแนนที่ได้คือ 77 = B+
คะแนนที่ได้คือ 81 = A
คะแนนที่ได้คือ 59 = D+
คะแนนที่ได้คือ 10 = F

**Function**



```python
def ชื่อฟังก์ชัน(input1,input2,.....) :
    งานxxx
    งานyyy
    return output
```
ส่วนประกอบสำคัญ
* input
* process (ไม่มีไม่ได้)
* output

**Example1**

In [32]:
def grading(score) :
      if score >= 80 :
        grade = 'A'
      elif score >= 75 :
        grade = 'B+'
      elif score >= 70 :
        grade = 'B'
      elif score >= 65 :
        grade = 'C+'
      elif score >= 60 :
        grade = 'C'
      elif score >= 55 :
        grade = 'D+'
      elif score >= 50 :
       grade = 'D'
      else :
        grade = 'F'

      return grade

In [35]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

In [53]:
def grading_list(list_score) :
    grade_list = []
    for score in list_score :
        if score >= 80 :
          grade = 'A'
        elif score >= 75 :
          grade = 'B+'
        elif score >= 70 :
          grade = 'B'
        elif score >= 65 :
          grade = 'C+'
        elif score >= 60 :
          grade = 'C'
        elif score >= 55 :
          grade = 'D+'
        elif score >= 50 :
          grade = 'D'
        else :
          grade = 'F'
        grade_list.append([score,grade])
    return grade_list

In [52]:
g = grading_list(score)
g

['F', 'C+', 'B', 'A', 'A', 'D+', 'A', 'F', 'B+', 'B+', 'A', 'D+', 'F']

In [54]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C+'],
 [70, 'B'],
 [95, 'A'],
 [82, 'A'],
 [55, 'D+'],
 [89, 'A'],
 [20, 'F'],
 [77, 'B+'],
 [77, 'B+'],
 [81, 'A'],
 [59, 'D+'],
 [10, 'F']]

In [57]:
def grading2(score) :
      if score >= 80 :
        return 'A'
      elif score >= 75 :
        return 'B+'
      elif score >= 70 :
        return 'B'
      elif score >= 65 :
        return 'C+'
      elif score >= 60 :
        return 'C'
      elif score >= 55 :
        return 'D+'
      elif score >= 50 :
       return 'D'
      else :
        return 'F'

In [58]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading2(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

**Example2 (ไม่มี input)**

In [59]:
def mypi() : 
    return 3.14

In [62]:
r= 10
print(f'รัศมี = {r} จะมีเส้นรอบวง = {2*mypi()*r}')

รัศมี = 10 จะมีเส้นรอบวง = 62.800000000000004

**Example3 (ไม่มี output)**

In [72]:
def grading_nooutput(score) :
    if i >= 80 :
      print('ได้เกรด A')
    elif i >= 75 :
      print('ได้เกรด B+')
    elif i >= 70 :
      print('ได้เกรด B')
    elif i >= 65 :
      print('ได้เกรด C+')
    elif i >= 60 :
      print('ได้เกรด C')
    elif i >= 55 :
      print('ได้เกรด D+')
    elif i >= 50 :
      print('ได้เกรด D')
    else :
      print('ได้เกรด F')

In [73]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i}', end =' ')
    grading_nooutput(i)

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

**Example4 (ไม่มี input และ output)**

In [76]:
def draw_rect() :
        print('===========')
        print('|                        |')
        print('|                        |')
        print('===========')

In [77]:
draw_rect()
draw_rect()

===========
|                        |
|                        |
===========
===========
|                        |
|                        |
===========

**ลักษณะของ input(parameter)** 

*  จำเป็นใส่
*   ไม่จำเป็นใส่

In [78]:
def A(input1, input2 = 3) :
    return input1+input2

In [79]:
A(1) # 1 จะไปบวกกับ input ที่ไม่จำเป็น คือ input2

4

In [80]:
A(1,6) # เนื่องจากกำหนดค่าให้ทั้งสอง input2 จึงดึงค่าที่กำหนดให้แทน

7

In [81]:
def printlove(input1, input2 = 'Start', input3 = 'KKU') :
    print(f'{input1} love {input2}{input3}')

In [82]:
printlove('Kittima')

Kittima love StartKKU

In [83]:
printlove('Kittima','SI','Stat')

Kittima love SIStat

In [87]:
printlove(input3 = 'Kittima', input2= 'SI', input1= 'Stat')

Stat love SIKittima

In [88]:
def printlove(input2 = 'Start', input1, input3 = 'KKU') : ### ไม่ควรเอา input ที่มีค่า default(มีเครื่องหมาย =) ขึ้นก่อน

SyntaxError: ignored

**HW4**

สร้างฟังก์ชัน

*   วาดรูปบ้าน
*   วาดรูปต้นไม้