<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/Manage_data_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/test'

In [5]:
data = os.path.join(path,'รายการยืมหนังสือผ่านUSL.csv')
print(data)

/content/drive/My Drive/test/รายการยืมหนังสือผ่านUSL.csv

In [8]:
data_USL = pd.read_csv(data)
data_USL

,order_id,order_code,order_date,date,day,time,mustbeget_date,std_code,std,apps_firstname,...,book_title,book_location,book_author,book_cassification,img_url,locker_number,order_status,order_audit_timechanged,detail_audit_timechanged,trans_status
0,14,OR21070014,23/7/2021 14:05,23/7/2021,ศุกร์,14:05:39,26/7/2021 23:59,3040103,30,วรนุช,...,ห้องเรียนแห่งอนาคต เปลี่ยนครูให้เป็นโค้ช!,อาคาร 14 ชั้น 2 หนังสือทั่วไป,วิริยะ ฤๅชัยพาณิชย์,371.102 ว694ห 2559,NaN,8,5,23/7/2021 14:29,23/7/2021 14:21,1
1,19,OR21070018,28/7/2021 16:38,28/7/2021,พุธ,16:38:47,31/7/2021 23:59,61181480132,61,สิริณิญากร,...,เอกสารชุดการประกันคุณภาพการศึกษา เล่ม ๖ : เทคน...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,NaN,371.2 อ884,NaN,1,5,29/7/2021 12:10,29/7/2021 11:49,1
2,19,OR21070018,28/7/2021 16:38,28/7/2021,พุธ,16:38:47,31/7/2021 23:59,61181480132,61,สิริณิญากร,...,การประกันคุณภาพการศึกษา=,อาคาร 14 ชั้น 2 หนังสือทั่วไป,NaN,371.2 ก469,NaN,1,5,29/7/2021 12:10,29/7/2021 11:49,1
3,19,OR21070018,28/7/2021 16:38,28/7/2021,พุธ,16:38:47,31/7/2021 23:59,61181480132,61,สิริณิญากร,...,เอกสารชุดการประกันคุณภาพการศึกษา เล่ม ๑ : แนวท...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,วันทยา วงศ์ศิลปภิรมย์,371.2 ว432อ,NaN,1,5,29/7/2021 12:10,29/7/2021 11:49,1
4,20,OR21070019,29/7/2021 14:38,29/7/2021,พฤหัสบดี,14:38:48,1/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,ชีววิทยาของแมลง,อาคาร 14 ชั้น 3 หนังสือทั่วไป,อนันต์ สกุลกิม,595.7 อ168ช,NaN,1,5,29/7/2021 16:03,29/7/2021 14:53,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,356,OR22040009,24/4/2022 22:52,24/4/2022,อาทิตย์,22:52:04,27/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,โรคและแมลง [253-],อาคาร 14 ชั้น 3 หนังสือทั่วไป,ปฐพีชล วายุอัคคี,632 ป13ร,NaN,25,5,25/4/2022 8:25,25/4/2022 7:46,1
634,356,OR22040009,24/4/2022 22:52,24/4/2022,อาทิตย์,22:52:04,27/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,แมลงป่าไม้ของไทย,อาคาร 14 ชั้น 3 หนังสือทั่วไป,ฉวีวรรณ หุตะเจริญ,595.7 ฉ17ม,NaN,25,5,25/4/2022 8:25,25/4/2022 7:42,1
635,357,OR22040010,28/4/2022 21:08,28/4/2022,พฤหัสบดี,21:08:40,1/5/2022 23:59,63971940102,63,สุวิจยา,...,การบริหารโรงเรียนยุคปฏิรูปการศึกษา,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ธีระ รุญเจริญ,371.2 ธ662ก,NaN,16,5,29/4/2022 13:57,29/4/2022 9:04,1
636,358,OR22050001,1/5/2022 14:02,1/5/2022,อาทิตย์,14:02:45,4/5/2022 23:59,62121880127,62,วนิดา,...,สรุปเข้ม พิชิตข้อสอบ ครูผู้ช่วย ภาค ข ฉบับสมบูรณ์,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ชัยยง เผือกทอง,371.1076 ช414ส 2560,164459.jpg,47,5,2/5/2022 15:28,2/5/2022 8:06,1
637,359,OR22050002,1/5/2022 14:03,1/5/2022,อาทิตย์,14:03:52,4/5/2022 23:59,62121880127,62,วนิดา,...,ปราชญ์ข้าราชการครู (สุจิปุลิ) เตรียมสอบครูผู้ช...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ตฤณเศรษฐ์ รัตนรังสฤษฏ์,371.1 ต198ป 2563,188989.JPG,47,5,2/5/2022 15:28,2/5/2022 8:06,1

In [9]:
data_USL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  638 non-null    int64
 1   order_code                638 non-null    object
 2   order_date                638 non-null    object
 3   date                      638 non-null    object
 4   day                       638 non-null    object
 5   time                      638 non-null    object
 6   mustbeget_date            638 non-null    object
 7   std_code                  638 non-null    int64
 8   std                       638 non-null    int64
 9   apps_firstname            638 non-null    object
 10  apps_lastname             638 non-null    object
 11  apps_usertype_name        638 non-null    object
 12  apps_usertype_name_en     638 non-null    object
 13  barcode                   638 non-null    object
 14  book_title                638 non-null    object
 15  book_location             638 non-null    object
 16  book_author               591 non-null    object
 17  book_cassification        638 non-null    object
 18  img_url                   238 non-null    object
 19  locker_number             638 non-null    int64
 20  order_status              638 non-null    int64
 21  order_audit_timechanged   638 non-null    object
 22  detail_audit_timechanged  638 non-null    object
 23  trans_status              638 non-null    int64
dtypes: int64(6), object(18)
memory usage: 119.8+ KB

In [10]:
data_USL.isnull().any()

order_id                    False
order_code                  False
order_date                  False
date                        False
day                         False
time                        False
mustbeget_date              False
std_code                    False
std                         False
apps_firstname              False
apps_lastname               False
apps_usertype_name          False
apps_usertype_name_en       False
barcode                     False
book_title                  False
book_location               False
book_author                  True
book_cassification          False
img_url                      True
locker_number               False
order_status                False
order_audit_timechanged     False
detail_audit_timechanged    False
trans_status                False
dtype: bool

In [38]:
time_morning = data_USL[(data_USL['time']>='06:00:00') & (data_USL['time']<='11:59:59')] 
time_morning

,order_id,order_code,order_date,date,day,time,mustbeget_date,std_code,std,apps_firstname,...,book_title,book_location,book_author,book_cassification,img_url,locker_number,order_status,order_audit_timechanged,detail_audit_timechanged,trans_status
15,22,OR21070021,30/7/2021 10:56,30/7/2021,ศุกร์,10:56:28,2/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,แมลงสำคัญทางเศรษฐกิจ,อาคาร 14 ชั้น 3 หนังสือทั่วไป,อนันต์ สกุลกิม,595.7 อ168ม,NaN,3,5,30/7/2021 13:16,30/7/2021 11:15,1
16,22,OR21070021,30/7/2021 10:56,30/7/2021,ศุกร์,10:56:28,2/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,Entomology and pest management,อาคาร 14 ชั้น 4 หนังสือทั่วไปภาษาอังกฤษ,"Pedigo, Larry P",632.7 P371E,NaN,3,5,30/7/2021 13:16,30/7/2021 11:15,1
17,22,OR21070021,30/7/2021 10:56,30/7/2021,ศุกร์,10:56:28,2/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,สัณฐานวิทยาภายนอกและการจัดจำพวงแมลง,อาคาร 14 ชั้น 3 หนังสือทั่วไป,ไพฑูรย์ เล็กสวัสดิ์,595.7 พ975ส,NaN,3,5,30/7/2021 13:16,30/7/2021 11:15,1
18,22,OR21070021,30/7/2021 10:56,30/7/2021,ศุกร์,10:56:28,2/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,โรคและแมลง ศัตรูพืชที่สำคัญ = Plant diseases a...,อาคาร 14 ชั้น 3 หนังสือทั่วไป,พิสุทธิ์ เอกอำนวย,632 พ786ร,NaN,3,5,30/7/2021 13:16,30/7/2021 11:15,1
19,22,OR21070021,30/7/2021 10:56,30/7/2021,ศุกร์,10:56:28,2/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,แมลงศัตรูพืชทางการเกษตรของประเทศไทย = Insect p...,อาคาร 14 ชั้น 3 หนังสือทั่วไป,สิริวัฒน์ วงษ์ศิริ,632.7 ส37ม,NaN,3,5,30/7/2021 13:16,30/7/2021 11:15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,344,OR22040001,1/4/2022 11:44,1/4/2022,ศุกร์,11:44:38,4/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,คู่มือการเพาะเลี้ยง ปลาหางนกยูง เชิงธุรกิจ Guppy,อาคาร 14 ชั้น 3 หนังสือทั่วไป,กฤษณา แก้วชะอุ่ม,639.34 ก282ค,NaN,17,5,2/4/2022 17:00,1/4/2022 14:29,1
611,344,OR22040001,1/4/2022 11:44,1/4/2022,ศุกร์,11:44:38,4/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,แฟนซีคาร์พ = Nishikigoi,อาคาร 14 ชั้น 3 หนังสือทั่วไป,ประเสริฐ ไมตรีวงษ์,597.482 ป421ฟ,NaN,17,5,2/4/2022 17:00,1/4/2022 14:29,1
612,344,OR22040001,1/4/2022 11:44,1/4/2022,ศุกร์,11:44:38,4/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,การเลี้ยงและเพาะพันธุ์ปลาสวยงาม,อาคาร 14 ชั้น 3 หนังสือทั่วไป,สุภาพร อารีกิจ,639.31 ส838ก,NaN,17,5,2/4/2022 17:00,1/4/2022 14:29,2
626,353,OR22040006,18/4/2022 10:49,18/4/2022,จันทร์,10:49:23,21/4/2022 23:59,63971940102,63,สุวิจยา,...,รูปแบบการเรียนการสอน,อาคาร 14 ชั้น 2 หนังสือทั่วไป,วีณา ประชากูล,371.3 ว815ร,NaN,36,5,18/4/2022 18:48,18/4/2022 13:19,1
627,353,OR22040006,18/4/2022 10:49,18/4/2022,จันทร์,10:49:23,21/4/2022 23:59,63971940102,63,สุวิจยา,...,คู่มือครู : รูปแบบการจัดการเรียนร่วมแบบรวมพลัง...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,สำนักนายกรัฐมนตรี. สำนักงานคณะกรรมการการศึกษาแ...,371.102 ส691ค,NaN,36,5,18/4/2022 18:48,18/4/2022 13:19,1

In [39]:
time_afternoon = data_USL[(data_USL['time']>='12:00:00') & (data_USL['time']<='17:59:59')] 
time_afternoon

,order_id,order_code,order_date,date,day,time,mustbeget_date,std_code,std,apps_firstname,...,book_title,book_location,book_author,book_cassification,img_url,locker_number,order_status,order_audit_timechanged,detail_audit_timechanged,trans_status
0,14,OR21070014,23/7/2021 14:05,23/7/2021,ศุกร์,14:05:39,26/7/2021 23:59,3040103,30,วรนุช,...,ห้องเรียนแห่งอนาคต เปลี่ยนครูให้เป็นโค้ช!,อาคาร 14 ชั้น 2 หนังสือทั่วไป,วิริยะ ฤๅชัยพาณิชย์,371.102 ว694ห 2559,NaN,8,5,23/7/2021 14:29,23/7/2021 14:21,1
1,19,OR21070018,28/7/2021 16:38,28/7/2021,พุธ,16:38:47,31/7/2021 23:59,61181480132,61,สิริณิญากร,...,เอกสารชุดการประกันคุณภาพการศึกษา เล่ม ๖ : เทคน...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,NaN,371.2 อ884,NaN,1,5,29/7/2021 12:10,29/7/2021 11:49,1
2,19,OR21070018,28/7/2021 16:38,28/7/2021,พุธ,16:38:47,31/7/2021 23:59,61181480132,61,สิริณิญากร,...,การประกันคุณภาพการศึกษา=,อาคาร 14 ชั้น 2 หนังสือทั่วไป,NaN,371.2 ก469,NaN,1,5,29/7/2021 12:10,29/7/2021 11:49,1
3,19,OR21070018,28/7/2021 16:38,28/7/2021,พุธ,16:38:47,31/7/2021 23:59,61181480132,61,สิริณิญากร,...,เอกสารชุดการประกันคุณภาพการศึกษา เล่ม ๑ : แนวท...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,วันทยา วงศ์ศิลปภิรมย์,371.2 ว432อ,NaN,1,5,29/7/2021 12:10,29/7/2021 11:49,1
4,20,OR21070019,29/7/2021 14:38,29/7/2021,พฤหัสบดี,14:38:48,1/8/2021 23:59,3050056,30,ผศ.ดร.พักพล,...,ชีววิทยาของแมลง,อาคาร 14 ชั้น 3 หนังสือทั่วไป,อนันต์ สกุลกิม,595.7 อ168ช,NaN,1,5,29/7/2021 16:03,29/7/2021 14:53,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,345,OR22040002,9/4/2022 12:14,9/4/2022,เสาร์,12:14:02,12/4/2022 23:59,61181710202,61,กุลนิษฐ์,...,สิบกลสะกดใจ = The ways to be adored when landi...,อาคาร 14 ชั้น 4 หนังสือนวนิยาย,"แมคลีน, ซาราห์",น ม862ส,130525.jpg,37,5,11/4/2022 11:06,10/4/2022 8:55,1
615,345,OR22040002,9/4/2022 12:14,9/4/2022,เสาร์,12:14:02,12/4/2022 23:59,61181710202,61,กุลนิษฐ์,...,สัมผัสที่ 7 สัมผัสต้องสอป = Horns,อาคาร 14 ชั้น 4 หนังสือนวนิยาย,"ฮิลล์, โจ",น ฮ459ส,130447.jpg,37,5,11/4/2022 11:06,10/4/2022 8:55,1
628,354,OR22040007,21/4/2022 16:05,21/4/2022,พฤหัสบดี,16:05:40,24/4/2022 23:59,63971940102,63,สุวิจยา,...,ศาสตร์การสอน : องค์ความรู้เพื่อการจัดกระบวนการ...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ทิศนา แขมมณี,371.3 ท512ศ 2560,152080.jpg,2,5,21/4/2022 16:16,21/4/2022 16:09,1
636,358,OR22050001,1/5/2022 14:02,1/5/2022,อาทิตย์,14:02:45,4/5/2022 23:59,62121880127,62,วนิดา,...,สรุปเข้ม พิชิตข้อสอบ ครูผู้ช่วย ภาค ข ฉบับสมบูรณ์,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ชัยยง เผือกทอง,371.1076 ช414ส 2560,164459.jpg,47,5,2/5/2022 15:28,2/5/2022 8:06,1
637,359,OR22050002,1/5/2022 14:03,1/5/2022,อาทิตย์,14:03:52,4/5/2022 23:59,62121880127,62,วนิดา,...,ปราชญ์ข้าราชการครู (สุจิปุลิ) เตรียมสอบครูผู้ช...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ตฤณเศรษฐ์ รัตนรังสฤษฏ์,371.1 ต198ป 2563,188989.JPG,47,5,2/5/2022 15:28,2/5/2022 8:06,1

In [40]:
time_evening = data_USL[(data_USL['time']>='18:00:00') & (data_USL['time']<='23:59:59')] 
time_evening

,order_id,order_code,order_date,date,day,time,mustbeget_date,std_code,std,apps_firstname,...,book_title,book_location,book_author,book_cassification,img_url,locker_number,order_status,order_audit_timechanged,detail_audit_timechanged,trans_status
10,21,OR21070020,29/7/2021 23:38,29/7/2021,พฤหัสบดี,23:38:24,1/8/2021 23:59,62123330301,62,กิตติธัช,...,คติชนวิทยา,อาคาร 14 ชั้น 2 หนังสือทั่วไป,กิ่งแก้ว อัตถากร,398.9593 ก32ค,NaN,1,5,30/7/2021 12:38,30/7/2021 9:23,1
11,21,OR21070020,29/7/2021 23:38,29/7/2021,พฤหัสบดี,23:38:24,1/8/2021 23:59,62123330301,62,กิตติธัช,...,คติชนวิทยา = Thai folklore,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ภูมิจิต เรืองเดช,398.9593 ภ665ค,NaN,1,5,30/7/2021 12:38,30/7/2021 9:23,1
12,21,OR21070020,29/7/2021 23:38,29/7/2021,พฤหัสบดี,23:38:24,1/8/2021 23:59,62123330301,62,กิตติธัช,...,ความรู้เรื่องคติชนวิทยา,อาคาร 14 ชั้น 2 หนังสือทั่วไป,จันทร์ศรี นิตยฤกษ์,398.9593 จ115ค,NaN,1,5,30/7/2021 12:38,30/7/2021 9:23,1
13,21,OR21070020,29/7/2021 23:38,29/7/2021,พฤหัสบดี,23:38:24,1/8/2021 23:59,62123330301,62,กิตติธัช,...,คติชนกับคนไทย-ไท : รวมบทความทางด้านคติชนวิทยาใ...,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ศิราพร ณ กลาง,398 ค135,NaN,1,5,30/7/2021 12:38,30/7/2021 9:23,1
14,21,OR21070020,29/7/2021 23:38,29/7/2021,พฤหัสบดี,23:38:24,1/8/2021 23:59,62123330301,62,กิตติธัช,...,คติชนวิทยา,อาคาร 14 ชั้น 2 หนังสือทั่วไป,วีระวัชร์ ปิ่นเขียน,398.9593 ก848ค,NaN,1,5,30/7/2021 12:38,30/7/2021 10:02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,355,OR22040008,22/4/2022 21:01,22/4/2022,ศุกร์,21:01:16,25/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,Principles of anatomy and physiology,อาคาร 14 ชั้น 4 หนังสือทั่วไปภาษาอังกฤษ,"Tortora, Gerard J",612 T712P,NaN,3,5,23/4/2022 14:21,23/4/2022 8:07,1
632,356,OR22040009,24/4/2022 22:52,24/4/2022,อาทิตย์,22:52:04,27/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,กีฏวิทยา-อะคาโรวิทยา การแพทย์ และสัตวแพทย์ [2542],อาคาร 14 ชั้น 3 หนังสือทั่วไป,สัมฤทธิ์ สิงห์อาษา,595.7 ส619ก,NaN,25,5,25/4/2022 8:25,25/4/2022 7:43,1
633,356,OR22040009,24/4/2022 22:52,24/4/2022,อาทิตย์,22:52:04,27/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,โรคและแมลง [253-],อาคาร 14 ชั้น 3 หนังสือทั่วไป,ปฐพีชล วายุอัคคี,632 ป13ร,NaN,25,5,25/4/2022 8:25,25/4/2022 7:46,1
634,356,OR22040009,24/4/2022 22:52,24/4/2022,อาทิตย์,22:52:04,27/4/2022 23:59,3050056,30,ผศ.ดร.พักพล,...,แมลงป่าไม้ของไทย,อาคาร 14 ชั้น 3 หนังสือทั่วไป,ฉวีวรรณ หุตะเจริญ,595.7 ฉ17ม,NaN,25,5,25/4/2022 8:25,25/4/2022 7:42,1
635,357,OR22040010,28/4/2022 21:08,28/4/2022,พฤหัสบดี,21:08:40,1/5/2022 23:59,63971940102,63,สุวิจยา,...,การบริหารโรงเรียนยุคปฏิรูปการศึกษา,อาคาร 14 ชั้น 2 หนังสือทั่วไป,ธีระ รุญเจริญ,371.2 ธ662ก,NaN,16,5,29/4/2022 13:57,29/4/2022 9:04,1

In [41]:
time_midnight = data_USL[(data_USL['time']>='00:00:00') & (data_USL['time']<='05:59:59')] 
time_midnight

Empty DataFrame
Columns: [order_id, order_code, order_date, date, day, time, mustbeget_date, std_code, std, apps_firstname, apps_lastname, apps_usertype_name, apps_usertype_name_en, barcode, book_title, book_location, book_author, book_cassification, img_url, locker_number, order_status, order_audit_timechanged, detail_audit_timechanged, trans_status]
Index: []

[0 rows x 24 columns]

In [20]:
data_USL[data_USL['time']=='1:47:32']

,order_id,order_code,order_date,date,day,time,mustbeget_date,std_code,std,apps_firstname,...,book_title,book_location,book_author,book_cassification,img_url,locker_number,order_status,order_audit_timechanged,detail_audit_timechanged,trans_status
113,76,OR21080047,18/8/2021 1:47,18/8/2021,พุธ,1:47:32,21/8/2021 23:59,63123010437,63,วรฎา,...,ลมหายใจแห่งชีวิต : สารคดีเพื่อชีวิต และสิ่งแวด...,อาคาร 14 ชั้น 3 หนังสือทั่วไป,เจนจบ ยิ่งสุมล,639.9 จ711ล,NaN,11,6,25/2/2022 15:54,18/8/2021 8:10,1

In [30]:
book_of_day = data_USL.groupby('day').count().sort_values(by=['order_code'],ascending=False) 
book_of_day.iloc[:,:1]

          order_id
day
จันทร์         128
พฤหัสบดี       109
อังคาร         107
ศุกร์          106
พุธ             98
เสาร์           48
อาทิตย์         42

In [29]:
book_of_date = data_USL.groupby('date').count().sort_values(by=['order_code'],ascending=False) 
book_of_date.iloc[:,:1]

            order_id
date
24/1/2022         35
18/8/2021         23
11/8/2021         18
19/11/2021        17
6/1/2022          17
...              ...
24/8/2021          1
28/1/2022          1
15/9/2021          1
16/10/2021         1
28/4/2022          1

[121 rows x 1 columns]

In [31]:
book_of_time = data_USL.groupby('time').count().sort_values(by=['order_code'],ascending=False) 
book_of_time.iloc[:,:1]

          order_id
time
13:09:07        11
23:58:22         9
0:16:28          8
16:19:03         8
16:09:32         8
...            ...
16:56:35         1
11:50:46         1
13:07:08         1
16:42:31         1
14:08:31         1

[288 rows x 1 columns]

In [33]:
book_of_people = data_USL.groupby('apps_usertype_name').count().sort_values(by=['order_code'],ascending=False) 
book_of_people.iloc[:,:1]

                    order_id
apps_usertype_name
นักศึกษา                 473
อาจารย์                  165

In [34]:
book_of_namebook = data_USL.groupby('book_title').count().sort_values(by=['order_code'],ascending=False) 
book_of_namebook.iloc[:,:1]

                                                    order_id
book_title
พีชคณิตเชิงเส้น                                            5
Principles of anatomy and physiology                       4
เก่ง TENSE! เรื่องกล้วยๆ!                                  4
ความรู้เบื้องต้นเกี่ยวกับกฏหมายทั่วไป [2535]               4
อยู่วังสระปทุม                                             4
...                                                      ...
ความสัมพันธ์ระหว่างความเครียดกับความพึงพอใจในกา...         1
ความร่วมมือทางเศรษฐกิจระหว่างประเทศ                        1
ความรู้เรื่องคติชนวิทยา                                    1
ครูคุณภาพสร้างได้ = Building a better teacher :...         1
๑๒๗ ท่ากายบริหารแบบไทย ท่าฤาษีดัดตน = 127 The h...         1

[543 rows x 1 columns]

In [35]:
book_of_location = data_USL.groupby('book_location').count().sort_values(by=['order_code'],ascending=False) 
book_of_location.iloc[:,:1]

                                           order_id
book_location
อาคาร 14 ชั้น 2 หนังสือทั่วไป                   194
อาคาร 14 ชั้น 3 หนังสือทั่วไป                   165
อาคาร 14 ชั้น 4 หนังสือทั่วไป                    62
อาคาร 14 ชั้น 5 หนังสือวิจัย, วิทยานิพนธ์        61
อาคาร 14 ชั้น 4 หนังสือนวนิยาย                   60
อาคาร 14 ชั้น 3 หนังสือเยาวชน                    43
อาคาร 14 ชั้น 4 หนังสือทั่วไปภาษาอังกฤษ          33
อาคาร 13 ชั้น 1 หนังสือใหม่                      16
อาคาร 14 ชั้น 4 เรื่องสั้น                        3
บริการสารสนเทศ                                    1

In [36]:
book_of_namepeople = data_USL.groupby('apps_firstname').count().sort_values(by=['order_code'],ascending=False) 
book_of_namepeople.iloc[:,:1]

                order_id
apps_firstname
ผศ.ดร.พักพล          111
อิญนรา                21
ธัญชนก                19
ศกุลตลา               14
วนิดา                 14
...                  ...
พิชญธิดา               1
พณิตา                  1
ปรียาภรณ์              1
ปรีดาพร                1
พรรณมณี                1

[161 rows x 1 columns]

In [37]:
book_of_std = data_USL.groupby('std').count().sort_values(by=['order_code'],ascending=False) 
book_of_std.iloc[:,:1]

     order_id
std
62        141
30        127
63        110
64        101
61         99
10         35
60         15
59          8
58          2