<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [131]:
import pandas as pd # ทำงานกับข้อมูลลักษณะ ตาราง

In [132]:
from google.colab import drive  # เชื่อม google colab กับ google drive
drive.mount('/content/drive') # mount คือคำสั่งใช้เชื่อมกัน

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [133]:
import os #จัดการไฟล์และ path(ที่อยู่ของไฟล์)

In [134]:
# print ตาราง flights
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [135]:
# print ตาราง airports
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [136]:
# วนลูปโดยใช้รหัสนักศึกษา เพื่อสุ่มข้อในการสอบ
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [137]:
# run เพื่อรับข้อที่ต้องทำ
gen_exams('623021040-9')

รหัสนักศึกษา 623021040-9 ทำข้อ 3 และ 0

In [138]:
airports.isnull().any() # เช็คหาค่าว่าง

รหัสสนามบิน    False
เมือง          False
รัฐ            False
ชื่อสนามบิน    False
dtype: bool

In [139]:
flights.isnull().any() # เช็คหาค่าว่าง

วันในเดือน            False
วันในสัปดาห์          False
สายการบิน             False
รหัสสนามบินต้นทาง     False
รหัสสนามบินปลายทาง    False
ความล่าช้าขาออก       False
ความล่าช้าขาเข้า      False
dtype: bool

In [140]:
# ทำการเชื่อมตาราง airports,flights เข้าด้วยกันโดยเก็บไว้ที่ data
data= airports.merge(flights,how='left',left_on='รหัสสนามบิน',right_on='รหัสสนามบินปลายทาง')
data # print ตาราง data ออกมาดู

         รหัสสนามบิน         เมือง  ... ความล่าช้าขาออก ความล่าช้าขาเข้า
0              10165   Adak Island  ...             NaN              NaN
1              10299     Anchorage  ...            21.0             23.0
2              10299     Anchorage  ...            -1.0              7.0
3              10299     Anchorage  ...            -4.0             -4.0
4              10299     Anchorage  ...            13.0             10.0
...              ...           ...  ...             ...              ...
2702508        11233      Cheyenne  ...             NaN              NaN
2702509        11097          Cody  ...             NaN              NaN
2702510        11865      Gillette  ...             NaN              NaN
2702511        12441       Jackson  ...             NaN              NaN
2702512        14543  Rock Springs  ...             NaN              NaN

[2702513 rows x 11 columns]

In [141]:
data.isnull().any() # เช็คหาค่าว่าง

รหัสสนามบิน           False
เมือง                 False
รัฐ                   False
ชื่อสนามบิน           False
วันในเดือน             True
วันในสัปดาห์           True
สายการบิน              True
รหัสสนามบินต้นทาง      True
รหัสสนามบินปลายทาง     True
ความล่าช้าขาออก        True
ความล่าช้าขาเข้า       True
dtype: bool

จะเห็นได้ว่าข้อมูลยังมีค่า missing อยู่ เนื่่องจากยังมีข้อมูลที่เป็น True อยู่

In [142]:
# ทำการลบค่า missing ออกโดยใช้ dropna
data_dropna = data.dropna()
data_dropna

         รหัสสนามบิน      เมือง  ... ความล่าช้าขาออก ความล่าช้าขาเข้า
1              10299  Anchorage  ...            21.0             23.0
2              10299  Anchorage  ...            -1.0              7.0
3              10299  Anchorage  ...            -4.0             -4.0
4              10299  Anchorage  ...            13.0             10.0
5              10299  Anchorage  ...            24.0             39.0
...              ...        ...  ...             ...              ...
2702496        13342  Milwaukee  ...            20.0              5.0
2702497        13342  Milwaukee  ...            11.0             17.0
2702498        13342  Milwaukee  ...            -2.0             -6.0
2702499        13342  Milwaukee  ...            -5.0              0.0
2702500        13342  Milwaukee  ...            -1.0            -12.0

[2702218 rows x 11 columns]

In [143]:
# ทำการเช็คว่าเมื่อทำการ dropna ข้อมูล missing ออกไปแล้วจะเหลือข้อมูลมากน้อยเพียงใด
removed = data.shape[0] - data.dropna().shape[0]
print(f'size before drop = {data.shape[0]}')
print(f'size after drop = {data.dropna().shape[0]}')
print(f'we lost {100*(removed/data.shape[0])}% of data')

size before drop = 2702513
size after drop = 2702218
we lost 0.010915766177628008% of data

เมื่อทำการเช็คเมื่อทำการ dropna ข้อมูลที่มีค่า missing ออกไปแล้วพบว่าข้อมูลหายไปเพียง 0.01% ซึ่งถือว่าอยู่ในเกณฑ์ที่ยอมรับได้ จึงเลือกใช้วิธีนี้

In [144]:
data_dropna.isnull().any() # เช็คค่า missing ว่ายังมีอยู่หรือไม่

รหัสสนามบิน           False
เมือง                 False
รัฐ                   False
ชื่อสนามบิน           False
วันในเดือน            False
วันในสัปดาห์          False
สายการบิน             False
รหัสสนามบินต้นทาง     False
รหัสสนามบินปลายทาง    False
ความล่าช้าขาออก       False
ความล่าช้าขาเข้า      False
dtype: bool

## ข้อ.0 หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

In [145]:
#หาจำนวนเครื่องบินขาเข้าโดยใช้ count()
q0 = data_dropna.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)
q0.iloc[:,7:8] # เลือกตารางที่ต้องการดู

     รหัสสนามบินปลายทาง
รัฐ
CA               380429
TX               275328
FL               208291
IL               176857
GA               148524
NY               132522
NC               104839
AZ               100824
CO                96919
NV                88179
DC                80666
PA                67955
MA                66833
OH                66236
NJ                64071
MO                63593
MI                62728
WA                60237
MN                60015
TN                53470
MD                51679
UT                47410
OR                30579
HI                28402
LA                25189
VA                21539
WI                21005
IN                18085
NM                17558
OK                13902
PR                13787
NE                13516
CT                13071
KY                10945
RI                 9324
AK                 7711

In [146]:
q0.iloc[:1,7:8] #รัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุด

     รหัสสนามบินปลายทาง
รัฐ
CA               380429

In [147]:
q0.iloc[-1:,7:8] #รัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

     รหัสสนามบินปลายทาง
รัฐ
AK                 7711

## ข้อ.3 สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด

In [148]:
#หาจำนวนเที่ยวบินโดยใช้ count()
q3 = data_dropna.groupby('สายการบิน').count().sort_values(by=['วันในเดือน'],ascending=False)
q3.iloc[:,4:5] # เลือกตารางที่ต้องการดู

           วันในเดือน
สายการบิน
WN             575739
DL             381657
AA             289855
UA             286418
US             233321
OO             160164
EV             157928
B6             121906
MQ             113212
FL              92702
9E              80031
AS              68555
YV              52821
F9              35738
VX              34739
HA              17432

In [149]:
q3.iloc[:1,4:5] #สายการบินที่มีจำนวนเที่ยวบินที่มากที่สุด

           วันในเดือน
สายการบิน
WN             575739

In [150]:
q3.iloc[-1:,4:5] #สายการบินที่มีจำนวนเที่ยวบินที่น้อยที่สุด

           วันในเดือน
สายการบิน
HA              17432

## ข้อ.คิดเอง สนามบินที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด

In [151]:
#หาจำนวนเครื่องบินขาออกโดยใช้ count()
qq = data_dropna.groupby('ชื่อสนามบิน').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False)
qq.iloc[:,6:7] # เลือกตารางที่ต้องการดู

                                          รหัสสนามบินต้นทาง
ชื่อสนามบิน
Hartsfield-Jackson Atlanta International             148524
Chicago O'Hare International                         127341
Los Angeles International                            118274
Dallas/Fort Worth International                      103939
Denver International                                  96919
...                                                     ...
Palm Beach International                              10103
Norfolk International                                 10035
Theodore Francis Green State                           9324
Long Beach Airport                                     8171
Ted Stevens Anchorage International                    7711

[70 rows x 1 columns]

In [152]:
qq.iloc[:1,6:7] #สนามบินที่มีจำนวนเครื่องบินขาออกที่มากที่สุด

                                          รหัสสนามบินต้นทาง
ชื่อสนามบิน
Hartsfield-Jackson Atlanta International             148524

In [153]:
qq.iloc[-1:,6:7] #สนามบินที่มีจำนวนเครื่องบินขาออกที่น้อยที่สุด

                                     รหัสสนามบินต้นทาง
ชื่อสนามบิน
Ted Stevens Anchorage International               7711